<% for(let i =0; i< 10 ; i ++ ) { %>
    <%/* comment: below code will print i to dom */%>
    <li><%= i %></li>
<% } %>


<% for(let i =0; i< 10 ; i ++ ) { %>
    <% if (i%2 === 0) { text = "even" %>
    <% } else { text = "odd"} %>
    <li><%= i %> - <%= text %></li>
<% } %>